<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="Boot"/>
    <meta name="author" content="TTimotti"/>
    <link rel="icon" type="image/x-icon" th:href="@{ /assets/icon/favicon.ico }"/>
    <!--Layout CSS-->
    <link th:href="@{ /css/bootstrap.min.css }" rel="stylesheet"/>
    <link th:href="@{ /css/bootstrap-icons.css }" rel="stylesheet"/>
    <!--Content CSS-->
    <th:block layout:fragment="css"></th:block>
</head>
<body id="top">
<!--공통 header-->
<th:block th:replace="~{ fragments/header :: headerFragment }"></th:block>
<!--공통 nav-->
<th:block th:replace="~{ fragments/nav :: navFragment }"></th:block>
<!--Content Area-->
<th:block layout:fragment="content"></th:block>
<!--공통 footer-->
<th:block th:replace="~{ fragments/footer :: footerFragment }"></th:block>
<!--공통 modal-->
<th:block th:replace="~{ fragments/user :: userFragment }"></th:block>
<!--Layout Script-->
<script th:src="@{ /scripts/jquery-3.7.0.min.js }"></script>
<script th:src="@{ /scripts/fontawesome.js }" crossorigin="anonymous"></script>
<script th:src="@{ /scripts/bootstrap.bundle.min.js }"></script>
<script th:src="@{ /scripts/common.modals.js }"></script>
<!--Content Script-->
<th:block layout:fragment="script"></th:block>
</body>
</html>