<html xmlns:th="http://www.thymeleaf.org">
<!--회원가입 모달-->
<div th:fragment="modalsFragment">
    <div class="modal fade" tabindex="-1" id="messageModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="messageModalTitle"></h5>
                </div>
                <div class="modal-body">
                    <pre id="messageModalBody"></pre>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="messageModalBtn" data-bs-dismiss="modal"></button>
                </div>
            </div>
        </div>
    </div>
</div>
</html>