<html xmlns:th="http://www.thymeleaf.org">
<!--navFragment 선언-->
<div th:fragment="navFragment">
    <nav class="d-flex justify-content-center bg-warning text-white" style="height: 50px;">
        <div class="d-flex justify-content-evenly w-75 p-2">
            <div class="">
                <a href="">Link</a>
            </div>
            <div class="">
                <a href="">Link</a>
            </div>
            <div class="">
                <a href="">Link</a>
            </div>
            <div class="">
                <a href="">Link</a>
            </div>
        </div>
    </nav>
</div>
</html>