<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="userFragment">
    <!--회원가입-->
    <div class="modal fade py-5" tabindex="-1" id="signUpModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded-4 shadow">
                <div class="modal-header p-5 pb-4 border-bottom-0">
                    <h1 class="fw-bold mb-0 fs-2">Sign up for free</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body p-5 pt-0">
                    <form id="signUpForm">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control rounded-3" id="insertUserId" name="userId"
                                   placeholder="name@example.com" onkeyup="replaceInput(this);">
                            <label for="insertUserId">Email address</label>
                            <div class="valid-feedback" id="userIdFeedback" style="margin-left: 4px">
                                사용 가능한 아이디
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control rounded-3" id="insertPassword" name="password"
                                   placeholder="Password" autocomplete="false" onkeyup="replaceInput(this);">
                            <label for="insertPassword">Password</label>
                        </div>
                        <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="button"
                                onclick="signUpHandle()">Sign Up
                        </button>
                        <small class="text-muted">By clicking Sign up, you agree to the <a href="#">terms of
                            use</a>.</small>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--로그인-->
    <div class="modal fade py-5" tabindex="-1" id="signInModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded-4 shadow">
                <div class="modal-header p-5 pb-4 border-bottom-0">
                    <h1 class="fw-bold mb-0 fs-2">Sign In</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body p-5 pt-0">
                    <form id="signInForm">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control rounded-3" id="selectUserId" name="userId"
                                   placeholder="name@example.com" required>
                            <label for="selectUserId">Email address</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control rounded-3" id="selectPassword" name="password"
                                   placeholder="Password" autocomplete="false" required>
                            <label for="selectPassword">Password</label>
                        </div>
                        <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="button" onclick="close()">Sign
                            In
                        </button>
                        <small class="text-muted">By clicking Sign up, you agree to the <a href="#">terms of
                            use</a>.</small>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</html>